* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 마이 페이지 메인 */

#mp_page{
    display: flex;
}


body{
    background-color: #1B3455;
    margin: 0;
}

main{
    width : 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    /* margin-left : 15%; */
    align-items: center;
    
}
/* 마이 페이지 메인 종료 */

#mp_spacedivision{
    height : 10vh;
}

/* 프로필카드 */
.mp_card{
    background-color: #fff;
    width : 200px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 2rem;
    text-align: center;
    margin-top : 20px;
}

.mp_profile {
    width:8rem;
    height:8rem;
    background-size:120px;
    border-radius: 50%;
    box-shadow : 0 0.5rem 1rem rgba(0,0,0, 0.3); 
    margin-left: 35px;
}
/* 프로필카드 종료 */

/* 모달 팝업창 생성 */
i{ margin-left : 5px;
   margin-top : 10px;
   align-content: center;}



nav{
    color : white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #212121;
    vertical-align: middle;
    border-radius: 10px;   
    border: 1px solid;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#container {
    margin: 0;
    
    width: 100%;
    background-color: #1B3455;
    font-family: 'Noto Sans KR','GmarketSansMedium';
}

#mp_navbar {
    height: 58px;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-size: 14px;
}

/* 모달 팝업을 감싸고 있는 최상위 부모 */
#modalWrap {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 15%;
    /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
#modalBtn{
    background-color:  transparent;
    color:white;
    border : 2px solid white;
    border-radius: 2em;
    cursor :pointer;
    padding : 0.4em 0.8em;
    font-size: 1rem;
    font-weight: 700;
}
#modalBtn:hover{
    background-color: #fff;
    color : #212121;
    outline:0;
}

/* 모달 팝업창 */
#modalBody {
    width: 800px;
    height: 500px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 15px;
    
}

/* 닫기 버튼 */
#closeBtn {
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 25px;
    cursor: pointer;
}

.navLeft {
    height: 100%;
    display: flex;
    align-items: center
}

.nav_logo {
    font-weight: 1000;
    font-size: large;
    margin-left: 12px;
}

.navRight {
    height: 100%;
    display: flex;
    align-items: center
}

.navRight>ul {
    float: left;
    margin: 0;
}

.navRight>ul>li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
.navRight>ul>:first-child {
    color: #d2d2d2;
    padding-right: 6px;
}
.navRight>ul>:nth-child(2) {
    color: #ffffff;
    padding-right: 6px;
}

.popularSerch {
    box-sizing: border-box;
    padding-right: 32px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
/* 모달 팝업창 종료 */


body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #dfdfdf;
}

body {
    height: 10000px;
}

.left-side-bar {
    background-color: #dfdfdf;
    height: 100%;
    width: 180px;
    position: fixed;
    left: -155px;
    transition: left .3s;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: black;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}


/* 탭메뉴 키 */
.mp_tabmenu{
    width: 40em;
    margin-top: 50px;
    background-color: #d2d2d2;
  }
  
  ul.mp_tabs{
    
    height: 50px;
    padding: 0px;
    list-style: none;
  }
  ul.mp_tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
    font-size : 20px;
  }
  
  ul.mp_tabs li.mp_current{
    background: #ededed;
    color: #222;
  }
  
  .mp_tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
  }
  
  .mp_tab-content.mp_current{
    display: inherit;
  }

  .mp_Info{
    width : 300px;

    text-align: left;
  }
  
  #mp_nameCh{
    margin-left : 10px;
  }
  /* 탭 메뉴 종료 */



/* 계정연동 버튼 */

.mp_auth-butoon{
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 50px;  /* 버튼 너비 조절 */
    height: 50px;  /* 버튼 높이 조절 */
}

.mp_emoticon{
    width: 50px;  /* 버튼 너비 조절 */
    height: auto;
   
}
.auth-btn:hover {
    color: white;
}

.google:hover {
    background-color: #DB4437;
    border-color: #DB4437;
}

.github:hover {
    box-shadow: #212121;
    background-color: #333;
    border-color: #333;
}

.kakao:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}
.microsoft:hover {
    background-color: #AF0DE8;
    border : 2px solid;
    border-right : 4px solid;
    border-bottom : 4px solid;
    border-color: #AF0DE8;
    
}
.facebook:hover {
    background-color: #030891;
    border-color: #030891;
}
.naver:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}
.apple:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}

/* 계정연동 버튼 종료 */