.container {
    display: flex;
    }

header{
    display : flex;
    flex-direction: column;
    width : 10rem;
    height : 100vh;
    background-color: #8CA9BF;
    position: fixed;
}

.menu{
    display:flex;
    flex-direction: column;
}

.logo{
    align-self: center;
}

body{
    background-color: #1B3455;
    margin: 0;
}

main{
    width : 1080px;
    height:1080px;
    margin-left : 10rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding : 20%;
}

.card{
    background-color: #fff;
    width : 200px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 2rem;
    text-align: center;
}

.profile {
    width:8rem;
    height:8rem;
    background-size:120px;
    border-radius: 50%;
    box-shadow : 0 0.5rem 1rem rgba(0,0,0, 0.3); 
    margin-left: 35px;
}

i{ margin-left : 5px;
   margin-top : 10px;
   align-content: center;}

#banner{
    width : 600px;
    height: 10%;
}

nav{
    margin-top: 20px;
    color : white ;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #212121;
    vertical-align: middle;
    border-radius: 10px;   
    border: 1px solid;
}


.bannerMenu{
    border-collapse: separate;
    margin: 20px;
    
}

#txtArea{
    width: 600px;
    height: 50%;
    background-color: #FFFFFF;
    border: 5px solid;
    border-color: #212121;
    border-radius: 10px;
}