* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 전체 페이지 */
#page{
    width:1920px;
    display: flex;
    flex-direction: row;
}

    /* 왼쪽 슬라이드바 */
header{
    align-content: center;
    flex-direction: column;
    width : 10rem;
    background-color: #8CA9BF;
    
}
.menu{
    justify-self:flex-end;
    flex-direction: column;
    text-align: center;
}
 .slidebar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
     /* Set height to make sure it takes the full height of the header */
} 
/* 왼쪽 슬라이드바 종료 */

/* 팝업창 */
.logo{
    align-self: center;
}

body{
    background-color: #1B3455;
    margin: 0;
}

main{
    height:1080px;
    display: flex;
    flex-direction: column;
    margin-left : 15%;
    align-items: center;
    
}

/* 프로필카드 */
.card{
    background-color: #fff;
    width : 200px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 2rem;
    text-align: center;
    margin-top : 20px;

}

.profile {
    width:8rem;
    height:8rem;
    background-size:120px;
    border-radius: 50%;
    box-shadow : 0 0.5rem 1rem rgba(0,0,0, 0.3); 
    margin-left: 35px;
}
/* 프로필카드 종료 */

i{ margin-left : 5px;
   margin-top : 10px;
   align-content: center;}



nav{
    margin-top: 20px;
    color : white ;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #212121;
    vertical-align: middle;
    border-radius: 10px;   
    border: 1px solid;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#container {
    margin: 0;
    width: 100%;
    background-color: #1B3455;
    font-family: 'Noto Sans KR','GmarketSansMedium';
}

#navbar {
    height: 58px;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #FFFFFF;
    font-family: 'Noto Sans KR';
    font-size: 14px;
}

/* 모달 팝업을 감싸고 있는 최상위 부모 */
#modalWrap {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 15%;
    /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* 모달 팝업창 */
#modalBody {
    width: 800px;
    height: 500px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 15px;
}

/* 닫기 버튼 */
#closeBtn {
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 25px;
    cursor: pointer;
}

.navLeft {
    height: 100%;
    display: flex;
    align-items: center
}

.nav_logo {
    font-weight: 1000;
    font-size: large;
    margin-left: 12px;
}

.navRight {
    height: 100%;
    display: flex;
    align-items: center
}

.navRight>ul {
    float: left;
    margin: 0;
}

.navRight>ul>li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
.navRight>ul>:first-child {
    color: #d2d2d2;
    padding-right: 6px;
}
.navRight>ul>:nth-child(2) {
    color: #ffffff;
    padding-right: 6px;
}

.popularSerch {
    box-sizing: border-box;
    padding-right: 32px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 탭메뉴 키 */
#tabmenu{
    margin-top : 10px;
    width: 500px;
    margin: 0 auto;
  }
  
  ul.tabs{
    margin-top: 50px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }
  
  .tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
  }
  
  .tab-content.current{
    display: inherit;
  }

  .myInfo{
    width : 100px;
    padding-left : 50px;
    text-align: left;
  }
  
  #nameCh{
    margin-left : 10px;
  }
  /* 탭 메뉴 종료 */