<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모달창</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="../public/css/subs.css">
  <script src="./main.js"></script>
  <!-- 결제창을 위한 라이브러리-->

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

  <!-- <button onclick="requestPay()">결제하기</button> -->
  <script>
    function requestPay() {
      IMP.init('iamport');
      IMP.request_pay({
        pg: "inicis",
        pay_method: "card",
        merchant_uid: 'merchant_' + new Date().getTime(),
        name: '결제테스트',
        amount: 5000,
        buyer_email: 'iamport@siot.do',
        buyer_name: '김도형',
        buyer_tel: '010-1234-5678',
        buyer_addr: '광주인공지능사관학교NSDB',
        buyer_postcode: '123-456'
      },
        function (rsp) {
          console.log(rsp);
          if (rsp.success) {
            var msg = '결제가 완료되었습니다.';
            alert(msg);
            location.href = "결제 완료 후 이동할 페이지 url"
          } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;
            alert(msg);
          }
        });
    }
  </script>

  <script>
    function requestPay1() {
      IMP.init('iamport');
      IMP.request_pay({
        pg: "inicis",
        pay_method: "card",
        merchant_uid: 'merchant_' + new Date().getTime(),
        name: '결제테스트',
        amount: 7000,
        buyer_email: 'iamport@siot.do',
        buyer_name: '김도형',
        buyer_tel: '010-1234-5678',
        buyer_addr: '광주인공지능사관학교NSDB',
        buyer_postcode: '123-456'
      },
        function (rsp) {
          console.log(rsp);
          if (rsp.success) {
            var msg = '결제가 완료되었습니다.';
            alert(msg);
            location.href = "결제 완료 후 이동할 페이지 url"
          } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;
            alert(msg);
          }
        });
    }
  </script>
</head>

<body class="subs_body">
  <div id="container">


    <div class="subs_modal">
      <div class="subs_modal_content">
        <!-- <div class="photo"></div> -->
        <div class="subs_header">
          <div id="subs_title">
            <h1>Member of NDB</h1>
          </div>
          <div>
            <button class="subs_button_close">&times;</button>
          </div>

          <div class="subs_subtitle">
            <p>
              학습 능률을 높이는 방법! <br />
              "구독"으로 다양한 혜택을 누리세요! <br /><br>
              For month
            </p>
          </div>

        </div>

        <div class="subs_desc_content">
          <div class="content1 content-box">
            <div>
              <h2>Basic</h2>
            </div>
            <div class="benefit">
              <p>-&nbsp; 0원 </p>
              <p>-&nbsp; 버전 업그레이드</p>
              <p>-&nbsp; 테마 설정</p>
              <p>-&nbsp; 예제에 대한 개념 정리</p>
              <p>-&nbsp;</p>
              <p>-&nbsp;</p>
              <p>-&nbsp;</p>
              <p>-&nbsp;</p>
            </div>

            <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->

            <div class="btn">
              <button onclick="requestPay()">구독하기</button>
            </div>
          </div>




          <div class="content2 content-box">
            <div>
              <h2>Standard</h2>
            </div>
            <div class="benefit">
              <p>-&nbsp; 5000원 </p>
              <p>-&nbsp; 버전 업그레이드 </p>
              <p>-&nbsp; 테마 설정 </p>

              <p>-&nbsp; 예제에 대한 개념 정리</p>
              <p>-&nbsp; 배너 제거 </p>
              <p>-&nbsp; 자사 커뮤니티 사이트 가입</p>
              <p>-&nbsp; 추천 강의 20% 할인권</p>
              <p>-&nbsp; </p>
            </div>
            <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->
            <div class="btn">
              <button onclick="requestPay()">구독하기</button>
            </div>

          </div>




          <div class="content3 content-box">
            <div>
              <h2>PRO</h2>
            </div>
            <div class="benefit">
              <p>-&nbsp; 7000원 </p>
              <p>-&nbsp; 버전 업그레이드 </p>
              <p>-&nbsp; 테마 설정 </p>

              <p>-&nbsp; 예제에 대한 개념 정리 </p>
              <p>-&nbsp; 배너 제거 </p>
              <p>-&nbsp; 자사 커뮤니티 사이트 가입</p>

              <p>-&nbsp; 추천 강의 40% 할인권</p>
              <p>-&nbsp; 인기 문제&개념 모음집PDF </p>
            </div>


            <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->
            <div class="btn">
              <button onclick="requestPay1()">구독하기</button>
            </div>
          </div>
        </div>


      </div>




    </div>

    <div>
      <nav id="navbar">
        <div class="navLeft">
          <div class="hamburger">
            <button>바</button>
          </div>
          <div class="nav_logo">
            <a href="#">NDB</a>
          </div>
        </div>
        <div class="navRight">
          <ul class="popularSerch">
            <li>
              <span>인기 검색어</span>
            </li>
            <li>|</li>
            <li>
              <a href="#">파이썬 반복문</a>
            </li>
          </ul>
          <div id="btnWrap">
            <!-- 팝업을 띄우기 위한 버튼 -->
            <button type="button" id="modalBtn">로그인</button>
          </div>
        </div>


        <div class="overlay"></div>
        <div><button class="subs_btn_open">구독</button></div>

        <script>

          $('.subs_btn_open').click(function () {
            $('.subs_modal, .overlay').addClass("active")
          })
          $('.subs_button_close, .overlay').click(function () {
            $('.subs_modal, .overlay').removeClass("active")
          })

        </script>
    </div>
</body>

</html>