/* 230804_정은우_mainPage css */
/* body안의 width를 vw로 할 경우, 스크롤 등 부가요소에
 관계없이 무조건 화면의 해상도 값을 가져오므로 가로 스크롤이 생긴다. */


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

/* main CSS 시작 */
/* body 마진 값 0 / 배경 색 설정(1B3455) / 폰트 설정*/
body {
    margin: 0;
    box-sizing: border-box;

    overflow-y: scroll;
}

/* 스크롤바 안보이게 ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* main 버튼 스타일 지정 */
#main_btnWrap {
    display: flex;
    flex-direction: row;

}

/* main 페이지 로그인버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_signupBtn {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 8px 16px 8px 16px;

    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    transition: 0.3s;
}

.main_signupBtn:hover {
    background-color: white;
    color: #212121;
}

/* main 페이지 회원가입 버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_loginBtn {
    all: unset;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin: 16px 12px 16px 0;
    padding: 8px 16px 8px 16px;

    /* border: 1px solid white;
    border-radius: 30px; */
    background-color: transparent;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    transition: 0.3s;
}

.main_loginBtn:hover {
    /* background-color: #212121; */
    color: white;
}

/* main페이지 전체 크기 및 기본 설정 지정 */
#main_container {
    box-sizing: border-box;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1B3455;
    font-family: 'Noto Sans KR', 'GmarketSansMedium';
    text-align: center;
    flex: 1 0 auto;

}

/* 네비게이션 바 설정 */
#main_navbar {
    height: 58px;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    position: fixed;

    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #212121;
    font-family: 'Noto Sans KR';
    font-size: 14px;

    z-index: 1;
}

/* 모달 팝업을 감싸고 있는 최상위 부모 */
#main_modalWrap {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 7rem;
    /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* 모달 팝업창 */
#main_modalBody {
    width: 500px;
    height: 600px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 15px;
}

/* 닫기 버튼 */
#main_closeBtn {
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 25px;
    cursor: pointer;
}

/* 메인  */

/* 네비게이션 요소 구현 */
/* 네비게이션 왼쪽 요소 시작 */
.main_navLeft {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px
}

.main_navMiddle {
    margin-left: 24px;
    overflow: hidden;
}

.main_navMiddle>form {
    opacity: 0;
    animation: main_navMiddle_fadeOut 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes main_navMiddle_fadeOut {
    to {
        opacity: 1;
    }
}



.main_nav_logo {
    font-weight: 1000;
    font-size: large;
    margin-left: 28px;
    font-style: italic
}

/* 네비게이션 왼쪽 요소 끝 */

/* 네비게이션 검색창 시작 */
#main_navSearchbar {
    height: 34px;
    width: 300px;
    display: flex;
    padding-left: 12px;
    /* 문제 창 애니메이션 CSS */
    /* 애니메이션(좌->우)를 위한 position */
    /* transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden; */
    transition: opacity(0);
    animation: FadeIn 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes FadeIn {
    to {
        transform: opacity(100);
    }
}

#main_navSearchbar>.main_search_button {
    padding-right: 8px;
    background-color: transparent;
}

#main_navSearchbar>input {
    font-size: 0.8rem;
    height: 32px;
}

/* 네비게이션 검색창 끝 */

/* 네비게이션 오른쪽 요소 시작 */
.main_navRight {
    height: 100%;
    display: flex;
    align-items: center
}

.main_navRight>ul {
    float: left;
    margin: 0;
}

.main_navRight>ul>li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.main_navRight>ul>:first-child {
    color: #d2d2d2;
    padding-right: 6px;
}

.main_navRight>ul>:nth-child(2) {
    color: #ffffff;
    padding-right: 6px;
}

.popularSerch {
    box-sizing: border-box;
    padding-right: 32px;
}

/* 네비게이션 끝 */
/* 검색창 시작 */
/* input, select 클릭시 생기는 기본 테두리 제거 */
input,
select:focus {
    outline: none;
}

/* select 기본 스타일 제거 */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* nav제외 나머지 공간 */
/* main페이지 및 정렬 설정 */
.main_wrap {
    width: 100%;
    /* navbar 세로값 58px을 뺀 나머지 높이 */
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1 0 auto; */

    /* 메인페이지 배경 이미지 추가 */
    background-image: url('/img/main_backGroundimg_moreEfficiency.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* 위치조정 */
.main_position {
    height: 58px;
}

/* 검색 부분(필터링 및 설명텍스트 등 정렬) */
.main_searchWrap {
    /* background-color: red; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 650px;
    height: 500px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.main_text {
    /* margin-bottom: 12px; */
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 2rem;
    margin-bottom: 36px;

}

.main_text>p {
    margin: 0;
}

/* 검색 창 div */
.main_search {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 46px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

/* 검색창 자동완성 div 검색어 선택시 표시 css */
.main_autocomplete>div.active {
    background: #333;
    color: #eee;
}

/* 검색창 테두리 제거 */
.main_language,
.main_searchBar,
.main_searchBar_Nav,
.main_search_button {
    border: 0;
    background-color: white;
}

.main_search_button {
    cursor: pointer;
}

.main_searchLanguage {
    height: 30px;
    width: 80px !important;
    border: 0;
    /* 기본 select 화살표 감추기 */
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 8px 0 8px;
    /* font-family:'GmarketSansMedium', 'Noto Sans KR'; */
    background: url('/img/chevron-down-solid.svg') no-repeat 97% 50%/15px auto;
}

/* 검색 창 바 input */
.main_searchBar {
    box-sizing: border-box;
    width: 70%;
    height: 41px;
    font-size: 1rem;
}

/* 검색 input 클릭시 생기는 테두리 제거 */
.main_searchBar>input:focus {
    outline: none;
}

.main_search_button {
    height: 30px;
    padding: 0;
    background-color: transparent;
    /* margin-left: 8px; */
}

.main_search_button>i {
    width: 30px;
    background-color: transparent;
}

/* select option 색 변경 시도....ㅜ */
option:checked,
option:hover {
    box-shadow: 0 0 10px 100px #8CA9BF inset;
}

/* main CSS 끝 */
/* 
.
.
. 
*/
/* codingExam CSS시작 */
/* codingExam Page 전체 크기 조절 */
#codeExam_container {
    width: 100%;
    height: calc(100vh - 58px);
    display: flex !important;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #1B3455;
    font-family: 'Noto Sans KR', 'GmarketSansMedium';
    text-align: center;
    flex: 1 0 auto;
}

.codeExam_pageWrap {
    /* background-color: greenyellow; */
    display: flex;
    height: 100%;
    width: 100%;
    /* flex: 1 0 auto; */
    /* padding-top: 58px !important; */
    box-sizing: border-box;
    overflow: hidden;

}

/* 코드 문제 CSS 시작 */
/* 문제 창 크기 조절 */
.codeExam_examWrap-Size {
    height: 100%;
    width: 30%;

    position: relative;
    display: flex;
    align-items: center;

    /* 문제 창 애니메이션 CSS */
    /* 애니메이션(좌->우)를 위한 position */
    /* transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden; */
    transform: translateX(-100%);
    animation: LR_xMovement 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes LR_xMovement {
    to {
        transform: translateX(0);
    }
}



.codeExam_examWrap {
    height: 80%;
    padding: 12px;
    text-align: left;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.codeExam_examContent {
    padding: 24px;
    overflow-y: scroll;
}
.scrollbar { 
    width: 250px;
    height: 250px;
    overflow-y: scroll; /*  */
  }
  
  /* 스크롤바의 폭 너비 */
  .codeExam_examContent::-webkit-scrollbar {
      width: 5px;  
  }
  
  .codeExam_examContent::-webkit-scrollbar-thumb {
      background: #1B3455; /* 스크롤바 색상 */
      border-radius: 12px; /* 스크롤바 둥근 테두리 */
  }
  
  .codeExam_examContent::-webkit-scrollbar-track {
      /* background: #8CA9BF;  스크롤바 뒷 배경 색상 */
      /* border-radius: 12px; */
  }

.codeExam_examTitle {
    /* font 속성 */
    /* font-weight: bold; */
    font-size: 1.5rem;
    text-transform: uppercase;

    padding: 16px 0 0 0;
}

.codeExam_examDetail {
    padding: 16px 0 16px 0;
}

/* 문제 설명 CSS */
.codeExam_examDetail>p:first-child {
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 16px;
}

/* 제한 조건 CSS */
.codeExam_exam {
    margin-top: 16px;
}

.codeExam_exam>p:first-child {
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 16px;
}

/* 코드+시연 창 크기 조절 */
.codeExam_code_wrap {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 100%;
    box-sizing: border-box;
    /* 문제 창 애니메이션 CSS */
    /* 애니메이션(좌->우)를 위한 position */
    /* transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden; */
    transform: translateX(100%);
    animation: RL_xMovement 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes RL_xMovement {
    to {
        transform: translateX(0);
    }
}

/* 정답 가리기 기능 */
.codeExam_code_hide {
    width: 100%;
    height: 60%;
    /* background-color: red; */
}

/* 예제코드 창 전체 사이즈 조절 */
.codeExam_boxes {
    flex-grow: 2;
    height: 60%;
    /* background-color: red; */

    box-sizing: border-box;
    padding: 32px 32px 0 32px;
    position: relative;
    overflow: hidden;
}



.codeExam_boxesHide {
    /* 기존 스타일 */
    position: absolute;
    
    width: calc(100% - 64px);
    height: calc(100% - 32px);
    background-color: #D83B44;
    z-index: 1;
    margin: 0 32px 32px 0;
    border-radius: 12px;
    box-sizing: border-box;

    /* 애니메이션 추가 */
    animation: slideEffect 1s forwards;
}
/* 정답 가리기 드래그앤 드롭이벤트 */
/* @keyframes slideEffect {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
} */

.codeExam_boxesSize {
    width: 100%;
    height: 100%;
    background-color: #212121;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.codeExam_exambox {
    border-radius: 12px;
    width: 33%;
    height: 100%;
    background-color: #212121;
}

/* .codeExam_htmlBox,.codeExam_cssBox{
    margin-right: 12px;
} */

/* 결과 시연창 전체 사이즈 조절 */
.codeExam_resultContainer {
    height: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 16px 32px 32px 32px;
    
}

/* 코드 결과 창 사이즈 조절 */
.codeExam_resultSize,
.codeExam_resultDiv {
    height: 100%;
}
.codeExam_resultDiv{
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.codeExam_resultDiv::-webkit-scrollbar {
    width: 5px;  
}

.codeExam_resultDiv::-webkit-scrollbar-thumb {
    background: #1B3455; /* 스크롤바 색상 */
    border-radius: 12px; /* 스크롤바 둥근 테두리 */
}

.codeExam_resultSize {
    background-color: white;
    border-radius: 12px;
}

/* 코드 언어별 창 디자인 */
.codeExam_codePage {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 코드창 코드 언어 사이즈 */
.codeExam_codeLanguage {
    /* border-bottom: solid 1px rgb(57, 57, 57); */
    padding: 16px 0 8px 0;
    margin: 0 32px;

    color: white;
    font-weight: 600;
}

.codeExam_codeContent-Size {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    box-sizing: border-box;
    border-radius: 12px;
}

/* 코드 출력(시연X)창 크기조절 */
#css-box>div,
#html-box>div {
    box-sizing: border-box;
    padding: 16px 0 16px 16px;
}

/* 제일 오른쪽 박스 padding 따로 지정 */
#js-box>div {
    box-sizing: border-box;
    padding: 16px;
}

.codeExam_codeContent {
    width: 100%;
    height: 100%;
    background-color: #363636;

    border-radius: 12px;
}