@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans KR', 'GmarketSansMedium';
}
   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 마이 페이지 메인 */

#mp_page{
    display: flex;
}


body{
    background-color: #1B3455;
    margin: 0;
}

main{
    width : 100%;
    display: flex;
    flex-direction: column;
    /* margin-left : 15%; */
    align-items: center;
    
}
/* 마이 페이지 메인 종료 */

#mp_spacedivision{
    height : 10vh;
}

/* 프로필카드 */
.mp_card{
    background-color: #fff;
    width : 200px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 2rem;
    text-align: center;
    margin-top : 20px;
}

.mp_profile {
    width:8rem;
    height:8rem;
    background-size:120px;
    border-radius: 50%;
    box-shadow : 0 0.5rem 1rem rgba(0,0,0, 0.3); 
    margin-left: 35px;
}
/* 프로필카드 종료 */

body {
    margin: 0;
    box-sizing: border-box;

    overflow-y: scroll;
}

/* 스크롤바 안보이게 ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* main 버튼 스타일 지정 */
#main_btnWrap {
    display: flex;
    flex-direction: row;

}

/* main 페이지 로그인버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_signupBtn {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 8px 16px 8px 16px;

    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    transition: 0.3s;
}

.main_signupBtn:hover {
    background-color: white;
    color: #212121;
}

/* main 페이지 회원가입 버튼 스타일 지정 */
/* transparent 는 투명을 의미한다. */
.main_loginBtn {
    all: unset;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin: 16px 12px 16px 0;
    padding: 8px 16px 8px 16px;

    /* border: 1px solid white;
    border-radius: 30px; */
    background-color: transparent;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    transition: 0.3s;
}

.main_loginBtn:hover {
    /* background-color: #212121; */
    color: white;
}

/* main페이지 전체 크기 및 기본 설정 지정 */
#main_container {
    box-sizing: border-box;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1B3455;
    font-family: 'Noto Sans KR', 'GmarketSansMedium';
    text-align: center;
    flex: 1 0 auto;

}

/* 네비게이션 바 설정 */
#main_navbar {
    height: 58px;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    position: fixed;

    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #212121;
    font-family: 'Noto Sans KR';
    font-size: 14px;

    z-index: 1;
}

/* 모달 팝업을 감싸고 있는 최상위 부모 */
#main_modalWrap {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 7rem;
    /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* 모달 팝업창 */
#main_modalBody {
    width: 500px;
    height: 600px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 15px;
}

/* 닫기 버튼 */
#main_closeBtn {
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 25px;
    cursor: pointer;
}

/* 메인  */

/* 네비게이션 요소 구현 */
/* 네비게이션 왼쪽 요소 시작 */
.main_navLeft {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px
}

.main_navMiddle {
    margin-left: 24px;
    overflow: hidden;
}

.main_navMiddle>form {
    opacity: 0;
    animation: main_navMiddle_fadeOut 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes main_navMiddle_fadeOut {
    to {
        opacity: 1;
    }
}



.main_nav_logo {
    font-weight: 1000;
    font-size: large;
    margin-left: 28px;
    font-style: italic
}

/* 네비게이션 왼쪽 요소 끝 */

/* 네비게이션 검색창 시작 */
#main_navSearchbar {
    height: 34px;
    width: 300px;
    display: flex;
    padding-left: 12px;
    /* 문제 창 애니메이션 CSS */
    /* 애니메이션(좌->우)를 위한 position */
    /* transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden; */
    transition: opacity(0);
    animation: FadeIn 1s linear infinite;
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes FadeIn {
    to {
        transform: opacity(100);
    }
}

#main_navSearchbar>.main_search_button {
    padding-right: 8px;
    background-color: transparent;
}

#main_navSearchbar>input {
    font-size: 0.8rem;
    height: 32px;
}

/* 네비게이션 검색창 끝 */

/* 네비게이션 오른쪽 요소 시작 */
.main_navRight {
    height: 100%;
    display: flex;
    align-items: center
}

.main_navRight>ul {
    float: left;
    margin: 0;
}

.main_navRight>ul>li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.main_navRight>ul>:first-child {
    color: #d2d2d2;
    padding-right: 6px;
}

.main_navRight>ul>:nth-child(2) {
    color: #ffffff;
    padding-right: 6px;
}

.popularSerch {
    box-sizing: border-box;
    padding-right: 32px;
}


body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #dfdfdf;
}

body {
    height: 10000px;
}

.left-side-bar {
    background-color: #dfdfdf;
    height: 100%;
    width: 180px;
    position: fixed;
    left: -155px;
    transition: left .3s;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: black;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}


/* 탭메뉴 키 */
.mp_tabmenu{
    display : flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    border-radius:0 0 30px 30px;
  }

.mypagefro{
    color: #ededed;
    box-sizing:content-box
}
  
.mp_h2{
    margin-bottom:10px ;
    margin-top : 1rem;
}  
  ul.mp_tabs{
    /* height: 50px; */
    padding: 0px;
    list-style: none;
  }
  ul.mp_tabs li{
   
    background: none;
    color: white;
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
  }
  
  ul.mp_tabs li.mp_current{
    background: #ededed;
    color: #222;
  }
  
  .mp_output{
    height: 37vh;
    background-color: #212121;
    border-radius: 15px;
  }

  .mp_secession{
    color: white;
    text-align : center;
    vertical-align: center;
  }

  #mp_questiontext{
    display:flex;
    flex-direction: column;
  }

  #mp_question{
    height: inherit;
  }

  
  #mp_secessionSpace{
    display: flex;
    flex-direction: column;
    height: 37vh;
    justify-content: space-evenly;
    align-items: center;
}

  #mp_secessionButton{
    width : 10em;
    height: 10vh;
    border-radius: 20px;
}

#mp_secessionButton:hover {
    background-color: rgb(154, 151, 151);
}

  .mp_tab-content{
    display: none;
    background: #ededed;
    padding: 15px 24px;
    height: 50vh;
    border-radius: 0 0 30px 30px;

  }
  
  .mp_tab-content.mp_current{
    display: block;
  }
  .mp_Info{
    width : 300px;
    
    text-align: left;
  }
  
  #mp_nameCh{
    margin-left : 10px;
  }
  /* 탭 메뉴 종료 */



/* 계정연동 버튼 */

.mp_auth-butoon{
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 50px;  /* 버튼 너비 조절 */
    height: 50px;  /* 버튼 높이 조절 */
}

.mp_emoticon{
    width: 50px;  /* 버튼 너비 조절 */
    height: auto;
   
}
.auth-btn:hover {
    color: white;
}

.google:hover {
    background-color: #DB4437;
    border-color: #DB4437;
}

.github:hover {
    box-shadow: #212121;
    background-color: #333;
    border-color: #333;
}

.kakao:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}
.microsoft:hover {
    background-color: #AF0DE8;
    border : 2px solid;
    border-right : 4px solid;
    border-bottom : 4px solid;
    border-color: #AF0DE8;
    
}
.facebook:hover {
    background-color: #030891;
    border-color: #030891;
}
.naver:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}
.apple:hover {
    background-color: #FEE500;
    border-color: #FEE500;
}

/* 계정연동 버튼 종료 */